div.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    header{
        height: 120px;
        width: 100%;
        background-color: #aaaaaa;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ffffff;
        flex-shrink: 0;
    }

    div.sidebar{
        width: 250px;
        height: 100%;
        background-color: #aaaaaa;
        display: flex;
        flex-direction: column;

        div.sidebar-menu{
            flex-grow: 1;

            nav{
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li{
                        border-bottom: 1px solid #ffffff;
                        cursor: pointer;

                        a{
                            display: block;
                            height: 100%;
                            width: 100%;
                            padding: 10px;
                        }

                        &:has(>a.active){
                            background-color: #ffffff;
                        }

                        &:hover{
                            background-color: #cccccc;
                        }
                    }
                }
            }
        }

    }

    div.main{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        div.content{
            flex-grow: 1;
            height: 100%;
            padding: 20px;
            overflow: auto;
        }
    }
}